################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Saving Accelerator Tools2.DataBaseServices/Connection/ConnectionString.cs
